.Toastify__toast {
  background: rgba(23, 63, 136, 0.6) !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
  color: white !important;
}

.Toastify__progress-bar {
  background: linear-gradient(90deg, #0f75fc 0%, #123276 100%) !important;
}
